/* Botones */
.boton-primario {
    background-color: var(--color-secundario);
    color: var(--texto-blanco);
    border: none;
    padding: var(--espacio-md) var(--espacio-2xl);
    border-radius: var(--radius-xl);
    font-weight: var(--peso-semi-bold);
    cursor: pointer;
    font-size: var(--texto-base);
}

.boton-primario:hover {
    background: var(--color-secundario-hover);
}

.boton-secundario {
    background: var(--color-azul);
    color: var(--texto-blanco);
    border: none;
    padding: var(--espacio-md) var(--espacio-xl);
    border-radius: var(--radius-sm);
    font-weight: var(--peso-medio);
    cursor: pointer;
    margin: 0 var(--espacio-sm);
}

.boton-secundario:hover {
    background: var(--color-azul-hover);
}

.boton-grande {
    padding: var(--espacio-lg) var(--espacio-2xl);
    font-size: var(--texto-lg);
}

.boton-completo {
    width: 100%;
}

/* Responsive para botones */
@media (max-width: 360px) {
    .boton-primario {
    padding: var(--espacio-sm) var(--espacio-lg);
    border-radius: var(--radius-xl);
    font-weight: var(--peso-semi-bold);
    cursor: pointer;
    font-size: var(--texto-base);
}
    .boton-secundario {
        width: 100%;
        margin: 0.25rem 0;
    }
}